# Sonar Submarine dataset

For Downloding the Dataset (https://github.com/shubh2002/DataSets)

Sonar dataset is a real time case study of submarines that is taking measurement of various signals coming from the hitting of rocks or mines that is laid the enemy country. So here 60 nearby fields are given and the machine has to learn and detect whether the hitting object is rock or mine.
So the output/label or target  is the last column  either the signal  coming back is detecting the rock or mine.

In [41]:
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix,f1_score

import warnings
warnings.filterwarnings('ignore')

In [42]:
df=pd.read_csv('sonar_data.csv',names=range(61))

In [43]:
df.shape

(208, 61)

In [44]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,51,52,53,54,55,56,57,58,59,60
0,0.0200,0.0371,0.0428,0.0207,0.0954,0.0986,0.1539,0.1601,0.3109,0.2111,...,0.0027,0.0065,0.0159,0.0072,0.0167,0.0180,0.0084,0.0090,0.0032,R
1,0.0453,0.0523,0.0843,0.0689,0.1183,0.2583,0.2156,0.3481,0.3337,0.2872,...,0.0084,0.0089,0.0048,0.0094,0.0191,0.0140,0.0049,0.0052,0.0044,R
2,0.0262,0.0582,0.1099,0.1083,0.0974,0.2280,0.2431,0.3771,0.5598,0.6194,...,0.0232,0.0166,0.0095,0.0180,0.0244,0.0316,0.0164,0.0095,0.0078,R
3,0.0100,0.0171,0.0623,0.0205,0.0205,0.0368,0.1098,0.1276,0.0598,0.1264,...,0.0121,0.0036,0.0150,0.0085,0.0073,0.0050,0.0044,0.0040,0.0117,R
4,0.0762,0.0666,0.0481,0.0394,0.0590,0.0649,0.1209,0.2467,0.3564,0.4459,...,0.0031,0.0054,0.0105,0.0110,0.0015,0.0072,0.0048,0.0107,0.0094,R

In [45]:
df.columns[df.isnull().any()]

Int64Index([], dtype='int64')

In [46]:
df=pd.get_dummies(df, columns=[60],drop_first=True)

In [47]:
df.shape

(208, 61)

In [48]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,51,52,53,54,55,56,57,58,59,60_R
0,0.0200,0.0371,0.0428,0.0207,0.0954,0.0986,0.1539,0.1601,0.3109,0.2111,...,0.0027,0.0065,0.0159,0.0072,0.0167,0.0180,0.0084,0.0090,0.0032,1
1,0.0453,0.0523,0.0843,0.0689,0.1183,0.2583,0.2156,0.3481,0.3337,0.2872,...,0.0084,0.0089,0.0048,0.0094,0.0191,0.0140,0.0049,0.0052,0.0044,1
2,0.0262,0.0582,0.1099,0.1083,0.0974,0.2280,0.2431,0.3771,0.5598,0.6194,...,0.0232,0.0166,0.0095,0.0180,0.0244,0.0316,0.0164,0.0095,0.0078,1
3,0.0100,0.0171,0.0623,0.0205,0.0205,0.0368,0.1098,0.1276,0.0598,0.1264,...,0.0121,0.0036,0.0150,0.0085,0.0073,0.0050,0.0044,0.0040,0.0117,1
4,0.0762,0.0666,0.0481,0.0394,0.0590,0.0649,0.1209,0.2467,0.3564,0.4459,...,0.0031,0.0054,0.0105,0.0110,0.0015,0.0072,0.0048,0.0107,0.0094,1

In [49]:
x=df.iloc[:,:-1]
x.shape

(208, 60)

In [51]:
from sklearn.decomposition import PCA
pca=PCA(n_components=9)
pca.fit(x)
x=pca.transform(x)
x.shape

(208, 9)

In [52]:
y=df.iloc[:,-1]
y.shape

(208,)

In [53]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=.25,random_state=51)

In [54]:
from sklearn.linear_model import LogisticRegression
model1=LogisticRegression()
model1=model1.fit(x_train,y_train)
y_pred=model1.predict(x_test)
acc1=accuracy_score(y_test,y_pred)
f1score1=f1_score(y_test,y_pred)

In [55]:
from sklearn.naive_bayes import GaussianNB
model2=GaussianNB()
model2=model2.fit(x_train,y_train)
y_pred=model2.predict(x_test)
acc2=accuracy_score(y_test,y_pred)
f1score2=f1_score(y_test,y_pred)

In [56]:
from sklearn.tree import DecisionTreeClassifier
model3=DecisionTreeClassifier()
model3=model3.fit(x_train,y_train)
y_pred=model3.predict(x_test)
acc3=accuracy_score(y_test,y_pred)
f1score3=f1_score(y_test,y_pred)

In [57]:
from sklearn.neighbors import KNeighborsClassifier
model4=KNeighborsClassifier()
model4=model4.fit(x_train,y_train)
y_pred=model4.predict(x_test)
acc4=accuracy_score(y_test,y_pred)
f1score4=f1_score(y_test,y_pred)

In [58]:
from sklearn.svm import SVC
model5=SVC()
model5=model5.fit(x_train,y_train)
y_pred=model5.predict(x_test)
acc5=accuracy_score(y_test,y_pred)
f1score5=f1_score(y_test,y_pred)

In [59]:
from sklearn.model_selection import cross_val_score
CV=[]
for models in [model1,model2,model3,model4,model5]:
    score=cross_val_score(models,x,y,cv=100)
    score=score.mean()
    CV.append(score)

In [60]:
models=pd.DataFrame({'MODELS':['Logistic Regression','Naive Bayes','Decision Tree','KNeighbors','SVM'],'ACCURACY':
                     [acc1,acc2,acc3,acc4,acc5],'F1 SCORE':[f1score1,f1score2,f1score3,f1score4,f1score5],
                    'CROSS VALID':CV})
models.sort_values(by='ACCURACY',ascending=False)

                MODELS  ACCURACY  F1 SCORE  CROSS VALID
0  Logistic Regression  0.762821  0.717557     0.751667
3           KNeighbors  0.698718  0.646617     0.825000
2        Decision Tree  0.685897  0.637037     0.773333
1          Naive Bayes  0.673077  0.638298     0.748333
4                  SVM  0.551282  0.146341     0.756667