# Balance Scale Data Set

For Downloading Data set (https://github.com/shubh2002/DataSets)

This data set was generated to model psychological experimental results. Each example is classified as having the balance scale tip to the right, tip to the left, or be balanced. The attributes are the left weight, the left distance, the right weight, and the right distance. The correct way to find the class is the greater of (left-distance * left-weight) and (right-distance * right-weight). If they are equal, it is balanced.

Attribute Information:

1. Class Name: 3 (L, B, R)
2. Left-Weight: 5 (1, 2, 3, 4, 5)
3. Left-Distance: 5 (1, 2, 3, 4, 5)
4. Right-Weight: 5 (1, 2, 3, 4, 5)
5. Right-Distance: 5 (1, 2, 3, 4, 5)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

import warnings 
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_csv('balance_scale_data.csv',names=['Class Name','Left Weight','Left Distance','Right weight','Right Distance'])

In [3]:
df.head()

  Class Name  Left Weight  Left Distance  Right weight  Right Distance
0          B            1              1             1               1
1          R            1              1             1               2
2          R            1              1             1               3
3          R            1              1             1               4
4          R            1              1             1               5

In [4]:
df.shape

(625, 5)

In [5]:
df.describe()

       Left Weight  Left Distance  Right weight  Right Distance
count   625.000000     625.000000    625.000000      625.000000
mean      3.000000       3.000000      3.000000        3.000000
std       1.415346       1.415346      1.415346        1.415346
min       1.000000       1.000000      1.000000        1.000000
25%       2.000000       2.000000      2.000000        2.000000
50%       3.000000       3.000000      3.000000        3.000000
75%       4.000000       4.000000      4.000000        4.000000
max       5.000000       5.000000      5.000000        5.000000

In [6]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()
df['Class Name']=encoder.fit_transform(df['Class Name'])

In [7]:
df.head()

   Class Name  Left Weight  Left Distance  Right weight  Right Distance
0           0            1              1             1               1
1           2            1              1             1               2
2           2            1              1             1               3
3           2            1              1             1               4
4           2            1              1             1               5

In [8]:
df['Class Name'].value_counts()

2    288
1    288
0     49
Name: Class Name, dtype: int64

In [9]:
x=df.iloc[:,df.columns!='Class Name']
x.shape

(625, 4)

In [10]:
y=df.iloc[:,df.columns=='Class Name']
y.shape

(625, 1)

In [11]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.25,random_state=42)

In [12]:
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from xgboost import XGBClassifier

In [13]:
model1=LogisticRegression()
model2=GaussianNB()
model3=KNeighborsClassifier()
model4=DecisionTreeClassifier()
model5=SVC()
model6=RandomForestClassifier()
model7=AdaBoostClassifier()
model8=GradientBoostingClassifier()
model9=XGBClassifier()
models=[model1,model2,model3,model4,model5,model6,model7,model8,model9]

In [14]:
accuracy=[]
for i in models:
    i.fit(x_train,y_train)
    y_pred=i.predict(x_test)
    acc=accuracy_score(y_test,y_pred)
    accuracy.append(acc)

In [15]:
Final_Score=pd.DataFrame({'MODELS':['Logistic Regression','Naive Bayes','K Neighbors','Decision Tree',
                                   'Support Vector Classifier','Random Forest','Ada Boost','Gradient Boosting','XG Boost'],'ACCURACY':accuracy})
Final_Score.sort_values(by='ACCURACY',ascending=False)

                      MODELS  ACCURACY
6                  Ada Boost  0.942675
4  Support Vector Classifier  0.898089
1                Naive Bayes  0.885350
7          Gradient Boosting  0.872611
8                   XG Boost  0.872611
0        Logistic Regression  0.847134
2                K Neighbors  0.828025
5              Random Forest  0.796178
3              Decision Tree  0.751592